h1 {
  color: red;
  text-align: center;
}
h2 {
  text-align: center;
}
.column {
  float: left;
  width: 350px;
}
body {
  font-family: sans-serif;
  background-color: green;
}
.test-box {
  border: 2px solid red;
}
